*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro' ;
    font-weight: bold;
}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-image: url("imgs/banner.jpg");
    background-size: cover;
}
body{
    background-image: url("imgs/background.jpg");
    background-size: cover;
}
main{
    max-width: 1000px;
    background-color: rgba(246, 246, 246, 0.494); 
    margin: auto;
    padding: 10px ;
}

.box_maior{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.alimento{
    width: 250px;
    height:250px;
    margin: 10px;
    background-color: rgba(154, 154, 146, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.ft_alimento{
    width: 100%;
    height: 70%;
    background-color: blue;
}
.alimento a{
    width: 100%;
    height: 30%;
    text-align: center;
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
img{
    width: 100%;
    height: 100%;
}